Assignment_1/venv/*
Assignment_1/functions/__pycache__/*
Assignment_1/cvlab-local-features-slides.pptx
Assignment_1/cvlab-local-features-slides.pdf
Assignment_3/code/data/*
Assignment_3/code/__pycache__/*
Assignment_3/code/loader/__pycache__/*
Assignment_3/code/models/__pycache__/*
Submissions/*
